---
import Layout from '@/layouts/Layout.astro'
import Experience from '@/components/sections/Experience.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import {basics}from "@cv"
---

<Layout title=`Portafolio de ${basics.name} - ${basics.label}`   >
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
		<audio id="audio" controls="true">
			<source type="audio/mp3" src="/public/videoplayback.mp3">
		 </audio>
	</main>
	<KeyboardManager/>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
	audio{
		display: none;
	}
</style>
